body {
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: #282c34;
}

.trailerTitle {
  font-size: 24px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 10px;
  text-shadow: 2px 2px black;
  width: 100%;
}

.containerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video:focus {
  outline: none;
}

.ReactModal__Content:focus {
  outline: none;
}

.ReactModal__Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoTrailer {
  background-color: rgba(40, 44, 52, 0.9);
  overflow: hidden;
  width: 75vw;
  height: 90%;
  border-radius: 10px;
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posterContainer {
  max-width: 330px;
  width: 330px;
  padding: 5px;
  position: relative;
  align-items: 'center';
  justify-content: 'center';
  display: flex;
}

.videoContainer {
  width: 60vw;
  padding: 50px;
  position: relative;
  align-items: 'center';
  justify-content: 'center';
  display: flex;
}

.trailerContainer {
  flex-direction: row;
  display: flex;
}

.poster {
  object-fit: cover;
  height: 338px;
}

.transparentButton {
  background-color: transparent;
  padding: 0;
  border: 0px solid transparent;
}
.transparentButton:focus {
  outline: none;
}

@media (max-width: 750px) {

  .videoContainer {
    width: 90vw;
    padding: 50px 0px 100px 0px;
  }
  .videoTrailer {
    width: 98vw;
    margin: 20px;
  }
}

